# --- Core Behavior ---
check_for_updates_on_startup  0
should_show_status_bar        0
should_load_tutorial_when_no_other_file 0
should_launch_new_window      0
ruler_mode                    1

# --- Aesthetic: Museum Palette ---
# Backgrounds
background_color              0.078 0.078 0.082
dark_mode_background_color    0.078 0.078 0.082
ui_background_color           0.078 0.078 0.082
custom_background_color       0.078 0.078 0.082

# Text and UI
ui_text_color                 0.804 0.804 0.804
custom_text_color             0.804 0.804 0.804
ui_font Spectral
font_size 15

# Highlights & Indicators
text_highlight_color          0.733 0.616 0.741
search_highlight_color        0.953 0.745 0.486
link_highlight_color          0.431 0.580 0.698
synctex_highlight_color       0.498 0.647 0.388
visual_mark_color             0.431 0.580 0.698 0.12

# --- Searches  ---
search_url_s                  https://scholar.google.com/scholar?q=
search_url_l                  http://gen.lib.rus.ec/scimag/?q=
search_url_g                  https://www.google.com/search?q=

# Startup Defaults
startup_commands              toggle_custom_color
